<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>

	<tlib-version>1.0</tlib-version>
	<jsp-version>2.0</jsp-version>
	<short-name>testing</short-name>
	<uri>http://www.tomcat-demo.com/testing</uri>
	<description>This is a demonstration tag library</description>

	<tag>
		<name>img</name>
		<tag-class>org.java.com.ImageTag</tag-class>
		<body-content>empty</body-content>
		<description>This tag is for displaying images</description>
		<attribute>
			<name>url</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>showBorder</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
			<type>boolean</type>
		</attribute>
		<attribute>
			<name>showUrl</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
			<type>boolean</type>
		</attribute>
	</tag>

</taglib>